<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="<%= stylesheetlink %>" type="text/css">
    <meta charset="UTF-8">
    <title>Current Time</title>
</head>

<body>
    This page was loaded at <%= time %>
</body>

</html>