<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
        <% for (let i=0;i<products.length;i++){%>
            <h2>Product Name: <%= products[i].name %></h2>
            <h4>Product Id: <%= products[i].id %></h4>
                <h4>Product Price: <%= products[i].price %> </h4>
                <h4>Product Description: <%= products[i].description %> </h4>
                <% } %>

</body>

</html>