<!DOCTYPE html>
<html>
    <head>
        <title>Add Item to the List</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="post" action="/add"><input name="item" /><input type="submit" /></form>
    </body>
</html>