<!DOCTYPE html>
<html>
    <head>
        <title>List view</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <ul>
            <% for (const item of list) { %>
                <li><%= item %></li>
                <% } %>

                <a href='/add'>add</href>
        </ul>
    </body>
</html>