<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <html>

    <head>
        <link href="<%= stylesheetlink %>" type="text/css" rel="stylesheet">
    </head>

    <body>
        <form method="POST" action="/result">
            Name<input type="text" name="name">
            Age<input type="text" name="age">
            <input type="submit" value="Submit Query">
        </form>
    </body>

    </html>
</body>

</html>