body {
  background-color: black;
  color: white;
  text-align: left;
}
.emphasize {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 15pt;
  font-style: italic;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  color: wheat;
}
h3 {
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
}
.column {
  float: left;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
a:hover{
text-decoration: underline;
}
p::first-letter{
    font-size: 1.5em;
}