<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>Ask 8 Ball</title>
</head>

<body>
    <div id="answer">
        <label>Ask 8 Ball</label>
        <span id="msg"></span>
    </div>

    <a href="/">Ask again</a>
</body>

</html>