<html>

<head>
    <link type="text/css" rel="stylesheet" href="assets/style.css">
    <!-- <script src="jQuery-3.6.0.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    Hello World
    <form method="POST" action="/person">
        First name: <input type="text" id="firstname" name="firstname"><br>
        Last name: <input type="text" id="lastname" name="lastname"><br>
        <input type="submit" value="Submit">
    </form>

    <script>
        $.ajax({
            type: "POST",
            url: "/personjson",
            data: JSON.stringify({ firstname: "John", lastname: "Doe" }),
            dataType: "json",
            contentType: "application/json"
        });
    </script>
</body>

</html>