<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <h1>Person: <%= ID %></h1>
        <h2>Querystring value: <%= QSTR %></h2>
    </body>
</html>