<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <form action="addToCart" method="POST">
        <%- include('product_details.ejs') %>
        <input type="hidden" value="<%= id %>" name="id">
        <input type="submit" value="Add To Cart">

    </form>

    <!-- <a href="content">View Cart</a> -->

</body>

</html>